#poster {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}
#placeholder {
  width: 100%;
}
.text {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 4%, rgba(0, 0, 0, 0.274) 30%, rgba(0,0,0,1) 72%);
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 20%;

  display: flex;
  align-items: center;
  justify-content: center;
}
#description {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  color: white;
  padding: 0;
}

#description li {
  font-size: 10px;
  list-style: none;
}
