#optionsbar {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  color: aliceblue;
  align-items: center;
  top: 500px;
  padding: 5px 0;

  .add-list {
    display: flex;
    flex-direction: column;
    text-align: center;
    cursor: pointer;

    .plus-icon {
      font-size: 25px;
    }
  }

  #watch {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    gap: 5px;
    cursor: pointer;
    height: 33px;
    width: 100px;
    border: none;
    border-radius: 3px;
    
    img {
      width: 30px;
      height: 30px;
    }

    .watch-text {
      font-weight: 600;
    }
  }

  .info {
    height: 100%;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;

    .info-icon {
      font-size: 10px;
    }
    p {
      margin: 0;
    }
    img {
      width: 25px;
      height: 25px;
    }
  }

  .add-list {

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;

    p { 
      margin: 0; 
    }
  }
}
