@font-face {
    font-family: SF Pro Text;
    src: url("../../fonts/SF_Pro_Text/SF-Pro-Text-Regular.otf");
}

body {
    background-color: #000;
    margin: 0;
    padding: 0;
    border: 0;

    font-family: SF Pro Text;
}