:root {
    --width-keep-whatching: 105px;
    --height-keep-whatching: 170px;
}

#KeepWhatching {
    // background: #FD7;
    min-width: var(--width-keep-whatching);
    width: var(--width-keep-whatching);
    height: var(--height-keep-whatching);
    background-size: var(--width-keep-whatching);

    margin: 0 0 0 5px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#KeepWhatchingPlayBackground {
    width: 100%;
    height: 100%;


    display: flex;
    align-items: center;
    justify-content: center;
}

#KeepWhatchingPlay {
    width: 40px;
    height: 40px;
    background-size: 40px;
}

#KeepWhatchingTimeBarBackground {
    width: 100%;
    height: 2px;
    background-color: #262626;
}

#KeepWhatchingTimeBar {
    // width: 100%;
    height: 2px;
    background-color: #F00;
}

#KeepWhatchingTimeText {
    background: #1A1A1A;
    width: 100%;
    height: 40px;
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#KeepWhatchingTimeText div { width: 22.5px; height: 22.5px; background-size: 22.5px; }

#KeepWhatchingTimeText p { color: #B3B3B3; text-align: center; font-size: 14px; }