#head {
  // border: 1px solid red;
  // width: 200px;
  // transform: translate(-50%, -50%);
  // left: 50%;
  // top: 50%;
  // position: absolute;
  // max-height: 100%; // Added
  // overflow-y: scroll; // Added

  width: 100%;
  height: 100px;
  position: absolute;

  background-color: #000000dd;
}
.icons {
  margin-top: 7px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#logo {
  width: 40px;
}
#search {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
#avatar {
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 15%;
  cursor: pointer;
}
#right {
  display: flex;
  gap: 20px;
  margin-left: 10%;
}
.fastrav {
  height: 50px;
  display: flex;
  justify-items: center;
}
ul {
  margin-left: 12%;
  color: white;
  display: flex;
  gap: 50px;
  flex-direction: row;
  list-style-type: none;
}
li {
  margin-top: 10px;
  cursor: pointer;
}
.logo {
  margin-left: 5px;
}
