* #head {
  width: 375px;
  height: 100px;
  position: absolute;
  gap: 10px;
  display: flex;
  flex-wrap: wrap;
  background-color: #000000dd;
}
#logo {
  width: 30px;
}
#search {
  width: 20px;
  margin-right: 10px;
}
#avatar {
  width: 20px;
}
#right {
  margin-top: 7px;
  margin-left: 275px;
}
ul {
  color: white;
  display: flex;
  gap: 70px;
  flex-direction: row;
  list-style-type: none;
}
.logo {
  margin-top: 7px;
  margin-left: 5px;
}
