#search {
    background: #000000;
    width: 100%;
    height: 100%;
    
    // display: none;
    position: absolute;
    top: 0;
    left: 0;

    #search-top {
        width: 100%;
        height: 50px;
    
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    #search-top-left, #search-top-right {
        background-repeat: no-repeat;
        margin: 0px 20px;
        width: 25px;
        height: 25px;
        background-size: 25px;
    }

    #search-search {
        width: 95%;
        height: 40px;
        margin: 0 auto;
        border-radius: 5px;

        display: flex;
        justify-content: center;
        align-items: center;

        #search-search-top-left { left: 0; }

        #search-search-top-right { right: 0; }

        #search-search-top-left, #search-search-top-right {
            position: absolute;
            background-repeat: no-repeat;
            margin: 0px 20px;
            width: 25px;
            height: 25px;
            background-size: 25px;
        }

        input:focus, textarea:focus, select:focus {
            border: none;
        }

        input {
            background-color: #333333;
            width: 100%;
            height: 100%;
            border: none;
            color: #FFF;
            text-align: center;
            font-size: 15px;
            
            &::-webkit-input-placeholder {
                text-align: center;
            }

            &textarea:focus, &:focus {
                outline: none;
            }       
        }
    }

    h4 {
        margin-left: 25px;
        color: #FFF;
    }
}