* {
  margin: 0;
  padding: 0;
}

#optionsbar {
  width: 375px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background-color: #000000dd;
  color: aliceblue;
  align-items: center;

  .add-list {
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .watch {
    display: flex;
  }

  .info {
    margin-right: 5px;
  }
}
