// @font-face {
//     font-family: SF Pro Text Bold;
//     src: url("//fonts/SF_Pro_Text/SF-Pro-Text-Regular.otf");
// }

#KeepWhatchingBody {
    background: none;
    width: 100%;
    height: 210px;
 
    display: flex;
    flex-direction: column;
}

#KeepWhatchingBodyChild { display: flex; flex-direction: row; overflow-x: scroll; }

#KeepWhatchingBodyText { 
    color: #B3B3B3;
    // font-family: SF Pro Text Bold;
    padding-left: 5px; 
    font-size: 13.25px;
    font-weight: 600;
    margin: 10px 0px;
}