#trending {
 height: 230px;
 margin: 0 0 0 5px;
 

  .trending-text {
    color: #B3B3B3;
    font-family: SF Pro Text Bold;
    padding-left: 5px; 
    font-size: 13.25px;

    margin: 10px 0px;
  }

  #trending-posters {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    gap: 5px;


    img {

      width: 105px;
    }


  }
}